{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %} 
<style>
    body{
        background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
</style>
<body>
<form method="post" novalidate>{% csrf_token %}
    <div class="row">
        <div class="col-11">
            {{ form|crispy }}
        </div>
    </div>
    <button type="submit" class="btn btn-dark">Enviar</button>
</form>
{{mensaje}}
</body>
{% endblock %}