{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %} 
<style>
    body{
        background: #004FF9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #FFF94C, #004FF9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #FFF94C, #004FF9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
</style>
<body>
<form method="post" novalidate>{% csrf_token %}
    <div class="row">
        <div class="col-11">
            <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Edita la pelicula</h2>
            {{ form|crispy }}
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Actualizar</button>
</form>
</body>
<br>
{% endblock %} 